@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes: caramellatte,aqua
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.inputfields-header{
  margin-left: 200px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-header{
  margin-left: 350px;
}
.fieldset {
  padding:80px;
  padding-bottom: 0;
  padding-top: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.fieldset-legend{
  margin-left: 100px;
  margin-bottom: 0px;
}
.iofields{
  display:flex;
  padding-top: 80px;
}
.outputfields{
  display:block;
}
.file-input{
  margin:0;
  margin-left:150px;
  width: 250px;
}
.inputfields-select{
  margin-left:10px;
  width:150px;
}
.outputfields-select{
  width:250px;
}
.btn-primary{
  margin-left:10px;
}
.toggle-primary{
  margin-left: 100px;
}
.timeline-start{
  font-size: small;
}
.ParentContent{
  font-size: large;
}
.logo{
  width:120px;
  height:120px;
  margin-left: 450px;
}

.heading {
  font-family: "Mukta", sans-serif;
  font-weight: 650;
  font-style: normal;
}