@import "tailwindcss";
@plugin "daisyui";


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.iofields {
  padding:100px;
  display:flex;
  align-items: center;
  justify-content: center;
}
